---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>

    <style>


      .image_container {
          width: 300px;
          height: 300px;
          background: #eee;
          text-align: center;
          line-height: 300px;
      }

      .image_container img {
          vertical-align: middle;
      }


    </style>

  </head>

  <body>


            <p class="image_container">
              <img src="/images/nintendo.png" alt="" />
            </p>

            <script src="/js/topsecret.js"></script>

  </body>
</html>
