---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">
  <head>

    <style>

      .center-image{
         display:flex;
         justify-content:center; /* horizontally center */
         align-items:center;    /* vertically center */
         height:300px;
         width:300px;
         background:orange;
       }

    </style>

  </head>

  <body>

    <style>

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

    </style>

            <p class="center-image">
              <img src="/images/nintendo.png" alt="" />
            </p>

            <script src="/js/topsecret.js"></script>

  </body>
</html>
